cf-api: # api endpoint for CF ex: https://api.run.pivotal.io
cf-user: # username to use for cf push ex: ci.user@example.com
cf-password: # password for user
cf-org: # org
cf-space: # space
maven-opts: # JVM args for maven
maven-config: # # location of custom maven settings.xml file. it will be copied into ~/.m2/settings.xml
